.colorButton {
    margin-right: 10px;
    color: white;
    border: none;
    padding: 4% 70px;
    border-radius: 50px;
    background: hsla(192, 95%, 50%, 1);
    background: linear-gradient(160deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);
    background: -moz-linear-gradient(160deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);
    background: -webkit-linear-gradient(160deg, hsla(192, 95%, 50%, 1) 0%, hsla(225, 89%, 47%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#07c8f9", endColorstr="#0d41e1", GradientType=1 );
}

.notColorButton {
    border: 2px solid #0A3871;
    padding: 4% 70px;
    border-radius: 50px;
    color: #0A3871;
    background-color: #D8DFE8;
}

.textoCriptografado {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: min-content;
}